/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images\hd-wallpaper-2130047.jpg);
  animation: flow 10s linear infinite;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: dotted;
}
